body {
   margin: 1rem;
}

img {
   object-fit: cover;
   object-position: top;
}

p, li {
   max-width: 500px;
}

.title {
   display: flex;
   margin-top: 2rem;
   margin-bottom: 1rem;
}

.title img {
   height: 50px;
   margin-right: 1rem;
}

.title > h1 {
   margin: 0;
}

.main-img {
   width: 400px;
   height: 300px;
}